/* Media queries for different screen sizes */
@media (min-width: 576px) {
    #model-view{
        height: 398px;
    }

    #buttons-view {
        font-size: 10px;
      }

      .contents {
        padding: 3% 5% 5% 5%;
    }

    #models-card .card {
    width: 100%;
    display: inline-table;
    }

    #models-card p {
        font-size: 8px;
        text-align: justify;
    }

    #models-card b {
        font-size: 10px;
        font-weight: 1000;
    }

    #models-card button {
        margin: 3px;
    }

    .smallprint {
        color: #606060;
        text-align: center;
        font-size: 7px;
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    #model-view{
        height: 398px;
    }

    #buttons-view {
        font-size: 10px;
      }

      .contents {
        padding: 3% 5% 5% 5%;
    }

    #models-card .card {
    width: 100%;
    display: inline-table;
    }

    #models-card p {
        font-size: 13px;
        text-align: justify;
    }

    #models-card b {
        font-size: 15px;
        font-weight: 1000;
    }

    #models-card button {
        margin: 3px;
    }

    .smallprint {
        color: #606060;
        text-align: center;
        font-size: 9px;
        font-weight: bold;
    }
}

@media (min-width: 992px) {
    #model-view{
        height: 558px;
    }

    .contents {
        padding: 3% 15% 5% 15%;
    }

    #models-card .card {
    width: 45%;
    display: inline-table;
    }

    #models-card p {
        font-size: 13px;
        text-align: justify;
    }

    #models-card b {
        font-size: 15px;
        font-weight: 1000;
    }

    #models-card button {
        margin: 3px;
    }

    .smallprint {
        color: #606060;
        text-align: center;
        font-size: 9px;
        font-weight: bold;
    }
}

@media (min-width: 1200px) {
    #model-view{
        height: 700px;
    }

    .contents {
        padding: 3% 15% 5% 15%;
    }

    #models-card .card {
    width: 45%;
    display: inline-table;
    }

    #models-card p {
        font-size: 13px;
        text-align: justify;
    }

    #models-card b {
        font-size: 15px;
        font-weight: 1000;
    }

    #models-card button {
        margin: 3px;
    }

    .smallprint {
        color: #606060;
        text-align: center;
        font-size: 9px;
        font-weight: bold;
    }
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Roboto;
    text-align: center;
    margin: 0px;
}

.navbar a, button a, footer a {
    color: white;
}

.navbar a:hover, button a:hover, footer a:hover {
    color: #9ea39f;
    text-decoration: none;
}

a {
    color: #9ea39f;
}

a:hover {
    color: black;
    text-decoration: none;
}

.navbar, .navbar-brand, .nav-item, .nav-link {
    background-color: #161a25;
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: #9ea39f;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

#custom-navbar-nav {
    text-align: right;
    float: right;
    padding: 1rem;
    flex-grow: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#main_3d_image {
    background-image: url(../assets/images/gun.jpg);
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: center;
    height: 500;
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
    text-align: center;
    color: white;
}

#main_3d_image h1 {
    font-size: 50px;
    margin: 0px;
}

#main_3d_image h2 {
    font-size: 25px;
}

#main_3d_image h3 {
    font-size: 15px;
    padding-top: 10px;
}

button {
    color: white;
    background-color: #161a25;
    border: 0;
    box-shadow: none;
    border-radius: 10px;
    padding: 10px;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #424743;
}

.contents {
    padding: 3% 15% 5% 15%;
}

#gallery_table {
    padding: 3% 5% 3% 5%;
}

.card, .card-title, .card-body, .card-img-top, .img-fluid, .img-thumbnail {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    padding-right: 0px;
    padding-left: 0px;
}

#model3D {
    height: 90%;
    width: 100%;
}

#model-view{
    padding-top: 5%;
}

footer {
    background-color: #161a25;
    color: white;
    padding: 1% 5% 1% 5%;
    text-align: center;
}

.footer-copyright, .footer-copyright a {
    background-color: #161a25;
}

#footer-pad {
    padding-top: 5%;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#models button {
    background-color: #161a25; 
    color: white;
    border: 0px;
    padding: 5px;
    margin: 0px;
}

img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

img:hover {
    opacity: .5;
}

.mySlides {
    display:none;
}

#gallery-card .card{
    width: 25%;
    display: inline-table;
}