h1, h2, h3, h4, h5, h6, p {
    font-family: Roboto;
}

nav {
    background-color: black;
}

.navbar, .navbar-brand, .nav-link {
    background-color: #161a25;
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: #9ea39f;
}

.logo {
    margin-top: 20px;
    color: white;
}

.logo h1 {
    font-family: "Roboto Black";
    font-size: 40px;
    margin: 0;
    margin-top: -20px;
    margin-bottom: -15px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
}

.logo p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
}

footer {
    background-color: #161a25;
    padding: 20px 0px 60px 0px;
    margin: 0px;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: #9ea39f;
    text-decoration: none;
}

.footer-copyright {
    background-color: #161a25;
    padding: 15px;
}

.contents h1, p {
    text-align: center;
}

#main_3d_image {
    background-image: url(../assets/images/gun.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    padding: 200px;
    text-align: center;
    color: white;
}

#main_3d_image h1 {
    font-size: 50px;
    margin: 0px;
}

#main_3d_image h2 {
    font-size: 25px;
}

#main_3d_image h3 {
    font-size: 15px;
}

button {
    color: white;
    background-color: #161a25;
    border: 0;
    box-shadow: none;
    border-radius: 10px;
    padding: 10px;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #424743;
}

.contents {
    padding: 50px 200px 0px 200px;
}

.centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card, .card-body, .card-img-top, .img-fluid, .img-thumbnail {
    padding: 1px;
    border: none;
    border-radius: 0px;
}

.card-body:hover {
    opacity: 0.25;
    transition: .2s ease-in-out;
    text: black;
}

#gallery_table {
    width: 500px;
}

#gallery_cell {
    padding: 0px;
    background: ivory;
    border: 1px solid red;
    min-width: 100px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
}

.col-sm-12 {
    padding: 0px;
}

.col-sm-6 {
    padding: 0px 30px 0px 30px;
}

.col-sm-4 {
    padding: 0px;
}